* {
  box-sizing: border-box;
  margin: 0;
  font-size: 15px;
}

.loading-screen {
  height: 100vh;
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
}

td {
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.entry {
  height: 50px;
  padding: 0;
}

.id {
  padding: 35px 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.sprite {
  width: 80px;
  height: 100%;
  padding: 0;
}

.name {
  padding: 35px 0;
  text-align: center;
  width: 100%;
}

.types {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin-left: 0;
}

.type {
  height: 100%;
  width: 40%;
  margin: 0px;
  padding: 0;
}

.type + .type {
  margin-left: 7px;
}

.type-text {
  padding: 3px;
  font-size: 14px;
  text-align: center;
  margin: 0;
  height: 100%;
  border-radius: 10%;
}

.abilities {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin-left: 0;
}

.ability {
  height: 100%;
  padding: 0;
  margin: 0;
}

.ability + .ability {
  margin-left: 7px;
}

.ability-name {
  width: fit-content;
  display: inline-flex;
  flex: none;
  text-align: center;
}

.ha {
  color: rgb(247, 134, 134);
}

.stat-num {
  font-size: 20px;
  justify-content: center;
  margin: 0;
  padding: 35px;
  width: fit-content;
  text-align: center;
}

.bug {
  background-color: rgb(173, 189, 33);
}

.dark {
  background-color: rgb(115, 90, 74);
}

.dragon {
  background-color: rgb(115, 96, 202);
}

.electric {
  background-color: rgb(255, 198, 49);
}

.fairy {
  background-color: rgb(247, 181, 247);
}

.fighting {
  background-color: rgb(165, 82, 57);
}

.fire {
  background-color: rgb(229, 58, 11);
}

.flying {
  background-color: rgb(171, 149, 234);
}

.ghost {
  background-color: rgb(99, 99, 181);
}

.grass {
  background-color: rgb(123, 206, 82);
}

.ground {
  background-color: rgb(198, 169, 89);
}

.ice {
  background-color: rgb(90, 206, 231);
}

.normal {
  background-color: rgb(173, 165, 148);
}

.poison {
  background-color: rgb(172, 89, 157);
}

.psychic {
  background-color: rgb(243, 113, 159);
}

.rock {
  background-color: rgb(189, 165, 90);
}

.steel {
  background-color: rgb(173, 173, 198);
}

.water {
  background-color: rgb(57, 156, 255);
}

.column-header {
  text-align: center;
  padding: 12.5px;
}
