.entry-types {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin-left: 0;
}

.entry-type {
  height: 100%;
  min-width: 35%;
  width: fit-content;
  margin: 0px;
  padding: 0;
}

.entry-type + .entry-type {
  margin-left: 7px;
}

.entry-type-text {
  padding: 3px;
  font-size: 14px;
  text-align: center;
  margin: 0;
  height: 100%;
  border-radius: 10%;
}

.bug {
  background-color: rgb(173, 189, 33);
}

.dark {
  background-color: rgb(115, 90, 74);
}

.dragon {
  background-color: rgb(115, 96, 202);
}

.electric {
  background-color: rgb(255, 198, 49);
}

.fairy {
  background-color: rgb(247, 181, 247);
}

.fighting {
  background-color: rgb(165, 82, 57);
}

.fire {
  background-color: rgb(229, 58, 11);
}

.flying {
  background-color: rgb(171, 149, 234);
}

.ghost {
  background-color: rgb(99, 99, 181);
}

.grass {
  background-color: rgb(123, 206, 82);
}

.ground {
  background-color: rgb(198, 169, 89);
}

.ice {
  background-color: rgb(90, 206, 231);
}

.normal {
  background-color: rgb(173, 165, 148);
}

.poison {
  background-color: rgb(172, 89, 157);
}

.psychic {
  background-color: rgb(243, 113, 159);
}

.rock {
  background-color: rgb(189, 165, 90);
}

.steel {
  background-color: rgb(173, 173, 198);
}

.water {
  background-color: rgb(57, 156, 255);
}
