.name {
  width: fit-content;
  margin-right: auto;
  margin-left: 18px;
}

.types {
  width: fit-content;
  height: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: 25px;
}

.type-pic {
  width: 30px;
  height: 30px;
}
