.card {
  display: flex;
  background-color: rgb(72, 74, 73);
  height: 450px;
  width: 380px;
  border: solid 3px black;
  border-radius: 5%;
  margin: 10px;
}

.thumbnail {
  margin: 5px auto;
  width: 285px;
  height: 200px;
  background-color: rgb(138, 138, 138);
  border: solid black 2px;
}
